<?xml version="1.0"
encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
                package="me.zerocore.zerosound"
                android:versionCode="1"
                android:versionName="1.0">
        <uses-sdk android:minSdkVersion="11"
                        android:targetSdkVersion="21" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
	<uses-permission android:name="android.permission.GET_TASKS" />

        <application 
                android:allowBackup="true"
                android:icon="@drawable/zero"
                android:label="@string/app_name">

                <activity 
                        android:name="me.zerocore.zerosound.activities.MainScreen"
                        android:label="@string/app_name">

                        <intent-filter>
                                <action android:name="android.intent.action.MAIN" />
                                <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
                </activity>

                <service 
                        android:name="me.zerocore.zerosound.services.VocalService"
                        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
>

                        <intent-filter>
                                <action android:name="android.accessibilityservice.AccessibilityService" />
                        </intent-filter>

                        <meta-data 
                                android:name="android.accessibilityservice"
                                android:resource="@xml/accessibility_service" />
                </service>

        </application>

</manifest>
